{% extends "admin/base_site.html" %}
{% load app_tags %}

{% block content %}
<h2>Documents</h2>

{% if messages %}
    {% for message in messages %}
        <div style="color: green;">{{ message }}</div>
    {% endfor %}
{% endif %}


{% if documents and user.is_authenticated %}
	<ul>
		{% for doc in documents %}
			<li>
				{{ doc.title }}
				- <a href="{% url 'view_document' doc.id %}">View</a>
                {% if user|has_group:"Admin,Manager" %}
                    - <a href="{% url 'delete_document' doc.id %}">Delete</a>
                    - <a href="{% url 'update_document' doc.id %}">Update</a>
                {% endif %}
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No documents found.</p>
{% endif %}

<br>

{% if user|has_group:"Admin,Manager" %}
    <h3>Upload Document</h3>
    <form method="post" action="{% url 'documents' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        <div>
            {{ form.document.label_tag }}
            {{ form.document }}
            {{ form.document.errors }}
        </div>
        <button type="submit">Upload</button>
        {% if success %}<p style="color:green">{{ success }}</p>{% endif %}
    </form>
{% endif%}

{% endblock %}
